<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="Factory" value="FactoryMethodLib2.BWMFactory"/>-->
    <!--<add key="Factory" value="FactoryMethodLib2.AudiFactory"/>-->
    <add key="Factory" value="FactoryMethodLib2.TesalaFactory"/>
    
  </appSettings>
</configuration>