<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="Localhost"/>
    <add key="port" value="10000"/>
    <add key="username" value="dipesh"/>
    <add key="password" value="123456"/>
    <add key="database" value="mydb"/>
  </appSettings>
</configuration>