
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body class="jumbotron container">
    <div> 
        <p class="text-center">Old Value:@ViewBag.olddata</p>
        <p class="text-center">New Value:@ViewBag.Newval</p>
        <p class="text-center">Session ID:@ViewBag.id</p>
    </div>
</body>
</html>
